*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    & .navbar-brand {
        letter-spacing: 2px;
    }

    & .navbar-brand:hover {
        background-color: #ccc;
    }

    & .nav-link {
        letter-spacing: 2px;
        font-weight: 600;
    }

    & .nav-link:hover {
        background-color: #ccc;
    }
}

/* hero section  */

.hero-section {
    background-image: url("./Assets/architect.jpg");
    min-height: 95vh;
    background-position: center;
    background-size: cover;

    & h3 {
        letter-spacing: 2px;
        font-weight: 400;

        & span {
            opacity: 85%;
        }
    }
}

/* about section  */

.about-section {
    & p {
        font-size: 13px;
    }

    & .card {
        & h4 {
            font-size: 18px;
        }

        & h6 {
            font-size: 13px;
        }

        & p {
            font-size: 12px;
        }

        & button:hover {
            background-color: #bebebe !important;

        }

    }
}

